<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/main.css" />
  </head>
  <body>
    <!--  -->
    <!-- ШАПКА -->
    <header>
      <div class="logo">MotoBoard</div>
      <nav>
        <a href="#">Объявления</a>
        <a href="#">Продать</a>
        <a href="#">Профиль ▼</a>
      </nav>
    </header>

    <!-- ПОИСК -->
    <div class="search-bar">
      <input type="text" placeholder="Поиск..." />
    </div>

    <!-- КОНТЕНТ -->
    <div class="content">
      <h2>Популярные мотоциклы</h2>
      <div class="cards">
        <div class="card">
          <img
            src="https://motoprokat.by/wp-content/uploads/2022/04/DSC095482-scaled.jpg"
            alt="Harley-Davidson"
          />
          <div class="card-content">
            <h3>Harley-Davidson</h3>
            <p>2018 · 15,000 км</p>
            <div class="price">2.500$</div>
            <button>Подробнее</button>
          </div>
        </div>

        <div class="card">
          <img
            src="https://mcn-images.bauersecure.com/wp-images/4705/900x0/2023_bmw_s1000rr_9.jpg"
            alt="BMW"
          />
          <div class="card-content">
            <h3>BMW</h3>
            <p>2020 · 8,000 км</p>
            <div class="price">3.200$</div>
            <button>Подробнее</button>
          </div>
        </div>

        <div class="card">
          <img
            src="https://www.major-honda.ru/images/original/0047c6a5f53683227a5119bb05620c38_1.jpg"
            alt="Honda"
          />
          <div class="card-content">
            <h3>Honda</h3>
            <p>2019 · 12,000 км</p>
            <div class="price">1.800$</div>
            <button>Подробнее</button>
          </div>
        </div>

        <div class="card">
          <img
            src="https://www.roadracingworld.com/wp-content/uploads/2022/07/DUCATI_PANIGALE_V4S_STATIC_001_UC355519_High_1657552868-e1657552884731.jpg"
            alt="Ducati"
          />
          <div class="card-content">
            <h3>Ducati</h3>
            <p>2021 · 5,000 км</p>
            <div class="price">3.600$</div>
            <button>Подробнее</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
